#**Pandas**

In [4]:
import numpy as np
import pandas as pd

In [5]:
# series : 1차원 배열 형태
# dataframe : 2차원 배열 구조 / 각 열이 시리즈

In [9]:
# Series
data = pd.Series([1,2,3,4,6])
data.values

array([1, 2, 3, 4, 6])

In [10]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
data[1:3]

1    2
2    3
dtype: int64

In [13]:
d1 = pd.Series([1,2,3],index = (['a','b','c']))
d1['b']

2

In [16]:
# 딕셔너리
population_dict = {'C':123, 'T':244, 'N':142}
population = pd.Series(population_dict)
population

C    123
T    244
N    142
dtype: int64

In [17]:
population['C':'T']

C    123
T    244
dtype: int64

In [18]:
pd.Series({2:'a',1:'b'},index = [1])

1    b
dtype: object

In [20]:
# DataFrame
area_dict = {'C':234, 'T':456, 'N':789}
area = pd.Series(area_dict)

states = pd.DataFrame({'population':population,'area':area})
states

   population  area
C         123   234
T         244   456
N         142   789

In [21]:
states.index

Index(['C', 'T', 'N'], dtype='object')

In [22]:
states.columns

Index(['population', 'area'], dtype='object')

In [24]:
pd.DataFrame(population,index = ['T'],columns = ['population']) # columns 지정 안하면 0으로 나옴 # 누락값은 NaN으로 채움

   population
T         244

In [25]:
# index 객체 # 불변 배열
ind = pd.Index([2,3,4,5])
ind

Int64Index([2, 3, 4, 5], dtype='int64')

In [26]:
print(ind.size, ind.shape, ind.ndim, ind.dtype) # ndim 차원

4 (4,) 1 int64

In [27]:
ind1 = pd.Index([1,2,3])
ind2 = pd.Index([4,5,6])

ind1 & ind2 # 교집합

Int64Index([], dtype='int64')

In [28]:
ind1 | ind2 # 합집합

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

In [29]:
ind1 ^ ind2 # 대칭 차 (두 집합의 상대 여집합의 합)

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

In [32]:
# 인덱서
  # loc : 인덱스 이름 사용
  # iloc : 정수형 인덱스, 범위 끝 제외

states['area']

C    234
T    456
N    789
Name: area, dtype: int64

In [33]:
states.area

C    234
T    456
N    789
Name: area, dtype: int64

In [34]:
states.T # 행, 열 바꾸기

              C    T    N
population  123  244  142
area        234  456  789

In [36]:
states.values # series로 변환

array([[123, 234],
       [244, 456],
       [142, 789]])

In [37]:
states.iloc[:3,:1] # 행, 열

   population
C         123
T         244
N         142

In [39]:
# series 연산 (DataFrame도 가능)
student1 = pd.Series({'국어':90,'수학':50})
student2 = pd.Series({'국어':50,'수학':90})
student1+student2

국어    140
수학    140
dtype: int64

In [41]:
# + add
# - sub
# * mul
# / div
# NaN -> fill_valus = 0

student1 = pd.Series({'국어':np.nan,'수학':50})
student2 = pd.Series({'국어':50,'수학':90})
student1.add(student2, fill_value=0)

국어     50.0
수학    140.0
dtype: float64